*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dropdown-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.dropdown-btn:hover{
  padding-top: 12px;
  display: flex;
  flex-direction: column;
}

.content{
  padding-block: 10px;
  width: 100%;
  display: none;
}

.dropdown-btn:hover .content{
  display: block;
}

.dropdown-btn:hover .content:hover{
  background-color: lightgrey;
}