*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-container{
  width: 40%;
}

Form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container{
  display: flex;
  flex-direction: column;
}