/* Homepage */
.Homepage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#Google{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#searchBar{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 60px;
  border: 1px solid #8c9297;
  padding-left: 15px;
}
#searchBar:hover{
  border: none;
  box-shadow: 0 3px 10px #aaaaaa;
}
#searchInput{
  all: unset;
  width: 95%;
  font-size: 18px;
}

/* Layout */
.Pages{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.TopBar{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid black;
  font-size: 30px;
  box-shadow: 0 3px 10px #aaaaaa;
}
.navList{
  height: 80px;
  width: 100%;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  color: #8c9297;
}

.Content{
  font-size: 50px;
}

CustomButton:hover{
  background-color: grey;
}